<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.trebogeer.klop.game" android:versionCode="1" android:versionName="1.0">

    <application android:icon="@drawable/frog" android:label="@string/app_name">
        <activity android:name=".Game">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".GameAnimalImages" android:label="@string/app_name"/>-->
        <!--<activity android:name=".NiceCubeGL" android:label="@string/app_name"/>-->
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk android:minSdkVersion="10"/>

</manifest>

